@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* font-family: 'Lato', sans-serif; */

*{
    margin: 0;
    padding: 0;
}


main{
    background: #333;
}

section{
    background: green;
    width: 50vw;
    height: calc(100%);
    position: absolute;
    right: 100%;
}

article{
    background: red;
    width: 50vw;
    height: auto;
    position: absolute;
    right: 0%;
}

a{
    color: #fff;
    font-size: 50px;
    text-decoration: none;
    border: 1px solid white;
    padding: 2rem 5rem;
    font-family: 'Lato', sans-serif;
}

main section a:nth-of-type(1){
    border: 2px solid white;
    position: fixed;
    top: 40%;
    left: 16%;
}

main article p a{
    border: none;
    font-family: 'Courier New', Courier, monospace;
}

main article p a:hover{
    text-decoration: underline;
}


section a:hover{
    background: url('../img/terminal.jpg');
    background-size: contain;
    transform: scale(2, 3);
    color: transparent;
    transition: 0.5s ease-out;
}



p{
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
    margin: 5rem auto;
    background: #333;
    color: #fff;
    padding: 3rem;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px #fff;
}

span{
    color: cyan;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px #fff;
    padding: 10px;
    background-color: black;
}

article p:nth-of-type(1), p:nth-of-type(3){
    font-size: 50px;
}